*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 80px;
    background: #E6E6FA;
}


ul{
    float:right;
    line-height:80px;
}
ul li{
    display: inline-block;
    /* line-height:80px; */
    margin: 0 20px;
}

ul li a{
    text-decoration:none;
    font-size:20px;
    font-family:arial;
}





.container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background:#800080;
}

.images{
    background: lavender;
    display: flex;
    align-items:center;
    /* height: 50%; */
    box-shadow:2px 2px 2px 2px red;
    border: 2px solid #565353;
    padding: 50px 50px;
}

.container img{
    height: 200px;
    border-radius:50px;
}